.calculator-outer {
  margin: 0 auto;
  width: 20%;
  background-color: #374353;
  padding: 1rem;
  border-radius: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(4, 70px);
  margin: 0 auto;
  justify-content: center;
}

.grid-item {
  font-size: xx-large;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #374353;
  border-radius: 10px;
  margin: 10px;
  filter: drop-shadow(1px 1px 3px #838383);
}

.screen {
  width: 95%;
  height: 60px;
  background-color: gray;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem auto;
}


